.text-title-s05{
    font-family: 'MasadaMedium';
    letter-spacing: -0.96px;
    font-size: 96px;
    line-height: 88px;
}

.text-main-title-s05{
    font-family: 'MasadaBook';
    letter-spacing: -0.96px;
    font-size: 96px;
    line-height: 88px;
}

.text-desc-s05{
    font-family: 'MasadaBook';
    letter-spacing: 0px;
    font-size: 32px;
    line-height: 38.4px;
}