.s03-main {
    padding: 100px 0;
    color: #000000;
    background: #000000 !important;
    width: 100%;
  }
  .s03-main-layout {
    max-width: 1080px;
    margin: 0px auto;
  }
  .display-grid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 24px;
  }
  .s03-img-frame {
    background: #ffffff;
    padding: 25px 15px 15px;
  }
  .s03-main .back {
    color: #ffffff !important;
    justify-content: space-between;
  }
  .i-cricle {
    border: 1px solid;
    border-radius: 50% !important;
    height: 28px;
    width: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }