.s02-main {
    padding: 100px 0;
    color: #000000;
    background: #d5d7d1 !important;
    width: 100%;
  }
  .s02-main-layout {
    max-width: 1080px;
    margin: 0px auto;
  }
  .d-flex {
    display: flex;
  }
  .text-center {
    text-align: center;
  }
  .img-responsive {
    max-width: 100%;
    display: block;
  }
  h1 {
    font-size: 96px;
  }
  /****************************** Start Marging Padding  **************************/
  .padding-0-48 {
    padding: 0 48px;
  }
  .m-0 {
    margin: 0;
  }
  .ml-11 {
    margin-left: 11px;
  }
  .mt-41 {
    margin-top: 41px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mr-ml-10 {
    margin: 0 10px;
  }
  /****************************** End Marging Padding  **************************/
  /****************************** Start S2 Layout  **************************/
  .block-title {
    font-size: 32px;
  }
  .block-sub-title {
    font-size: 40px;
  }
  .common-text {
    font-size: 24px;
  }
  .m-b-67 {
    margin-bottom: 67px;
  }
  .read-btn {
    background: #000000;
    border-radius: 25px;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    border: 0;
  }
  .l-r-border {
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    padding: 0 10px;
  }
  .block-width {
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
  }
  .img-frame {
    background: #ffffff;
    padding: 25px 15px 15px;
    margin-bottom: 24px;
    text-align: center;
    position: relative;
  }
  .img-frame::before {
    content: "";
    background: transparent
      linear-gradient(
        180deg,
        #d6d7d200 0%,
        #d6d7d28a 42%,
        #d6d7d291 47%,
        #d6d7d29c 50%,
        #d6d7d2a3 52%,
        #d6d7d2ab 55%,
        #d6d7d2b3 58%,
        #d6d7d2ba 61%,
        #d6d7d2c2 65%,
        #d6d7d2c9 69%,
        #d6d7d2d1 74%,
        #d6d7d2d9 78%,
        #d6d7d2e0 83%,
        #d6d7d2eb 89%,
        #d6d7d2f5 94%,
        #d6d7d2 100%
      )
      0% 0% no-repeat padding-box;
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .all-stories {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .num-of-img {
    position: absolute;
    top: 70%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-frame-text {
    font-size: 52px;
  }
  .text-red {
    color: #ff0000;
    font-size: 16px;
  }
  .back {
    font-size: 32px;
    margin-top: 14px;
  }
  .back-arrow {
    margin-right: 102px !important;
  }
  