.s07-main .img-07-block{
    background: #C0A5DD;
    padding: 100px 0;
}

.font-size-18{
    font-family: MasadaBook;
}
.mb-7{margin-bottom: 7px !important;}
.footer-leg p, .footer-leg a{
    font-family: MasadaBook;
}