.mb-10{margin-bottom: 10px;}
.font-size-14 p{font-size: 14px;}
.left-side-b{
    width: 313px;
}
.border-bottom-2{border-bottom: 2px solid;}

.mtb-20{margin: 20px 0;}
.mb-27 {margin-bottom: 27px;}
.mb-36 {margin-bottom: 36px;}
.mb-78{margin-bottom: 78px;}
.m-tb{margin: 56px 0 21px;}